* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 50;
}

#mainnav {
  display: flex;
  border: 1px solid red;
  background-color: rgb(251, 93, 1);
  width: 100%;
  height: 50px;
}
ul {
  display: flex;
  margin-left: 40px;
  list-style-type: none;

  color: white;
  /* font-weight: bold; */
}
li:hover {
  background-color: rgb(251, 125, 51);
}

li {
  /* border: 1px solid black; */
  margin-left: 20px;
  /* height:33px; */
  /* line-height: 50px; */
  /* padding-bottom: 40px; */
  text-decoration: none;
}
#subnav {
  margin-left: 300px;
}
#seccont {
  width: 80%;
  margin: auto;
}
button {
  width: 130px;
  height: 30px;
  color: white;
  border-radius: 10px;
  border: none;
  background-color: rgb(24, 132, 51);
}
#thrcont {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  /* display: grid;
    justify-content: center;
    align-items: center; */
  text-align: center;
  border: none;
  height: 320px;
  background-color: rgb(238, 238, 239);
  color: rgb(91, 93, 90);
}

.inpb {
  display: block;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid grey;
}
#exdiv {
  margin-top: 10px;
  width: 80%;
  /* height: 250px; */
  background-color: rgb(255, 248, 241);
  display: flex;
  justify-content: space-between;
}

.dat {
  margin-left: 10px;
  margin-top: 20px;
  /* border: 1px solid red; */
}
#attah {
  border: 1px dashed grey;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

#btncan {
  width: 100px;
  height: 30px;
  color: rgb(102, 30, 28);
  border-radius: 10px;
  border: 1px solid grey;
  background-color: rgb(255, 255, 255);
  margin-left: 5px;
  margin-bottom: 10px;
}

#btnsave {
  width: 120px;
  height: 30px;
  color: white;
  border-radius: 10px;
  border: none;
  background-color: rgb(24, 132, 51);
  margin-bottom: 10px;
  margin-left: 5px;
}

a{
  cursor: pointer;
    text-decoration: none;
    color: white;
}

#upgr{

  background-color: transparent;
  color: grey;
  border: 1px solid grey;

}
