body {
    background-color: #eee;
    font-family: 'Poppins',
        sans-serif;

}

#img{
    width: 100px;
    margin: auto;
    margin-bottom: -30px;
  
}
#img>a{
    color:rgba(250,93,0,100%);
}
#top{
    margin-left: 35%;
}

    
.container {
    width: 35%;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid lightgrey;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto 30px;
    margin-top: 5%;
    padding: 30px;
    position: relative;
    text-align: left;
    vertical-align: top;

}

h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.paragraph {
font-size: 30px;
font-weight: bolder;
    margin-top: 7%;
    text-align: center;
    margin-bottom: -3%;
}


.google {
    border: 1px solid grey;
    height: 35px;
    width: 97%;
    margin: 10px 5px;
    cursor: pointer;
    color: grey;
    font-weight: 520;
    font-size: 15px;
    border-radius: 2px;
    border: 1px solid lightgrey;
    outline: none;
}

.google__button:hover {
    background-color: rgb(235, 232, 232);
}

.left-l {
    width: 30%;
    height: 0.5px;
    background-color: lightgrey;
}

.line {
    color: #999;
    font-size: 13px;
    line-height: 0;
    text-align: center;
    margin-top: 30px;
}

.right-l {
    width:30%;
    height: 0.5px;
    background-color: lightgrey;
    margin-left: 70%;
}

#email {
    height: 30px;
    width: 95%;
    margin: 40px 5px 5px;
    padding-left: 2%;
    border: 1px solid gray;
    border-radius: 5px;
}

#pass {
    height: 30px;
    width: 95%;
    margin: 5px 5px;
    padding-left: 2%;
    border: 1px solid gray;
    border-radius: 5px;
}

.btn {
    display: block;
    height: 38px;
    width: 99%;
    margin: 10px 5px;
    background-color: #55A745;
    border-radius: 5px;
    border: 1px solid #24A90C;
    outline: none;
    color: white;
    cursor: pointer;
    font-weight: 520;
    font-size: 15px;
}

.btn>a {
    color: #ffffff;
    text-decoration: none;
}

.forgot >a{
    margin-left: 38%;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    top: 18px;
    color: rgb(146, 143, 143);
}

.harv {
    float: left;
    margin-left: 48%;
    cursor: pointer;
    font-size: 13px;
     
}

.harv>a {
    text-decoration: none;
    color: rgb(146, 143, 143);
}


.privacy {
    margin-left: 2%;
    float: left;
    cursor: pointer;
    font-size: 13px;
}

.privacy>a {
    text-decoration: none;
    color: rgb(146, 143, 143);
}