body {
    font-family: 'Poppins',
        sans-serif;
    margin: 0;
    padding: 0;
}

#img{
    width: 100px;
  
}
#img>a{
    color:rgba(250,93,0,100%);
}
#top{
    margin-left: 35%;
}

.orange__box {
    border: 1px;
    height: 230px;
    background-color: #F36C00;
}

.top__box {
    border: 1px;
    display: flex;
    flex-direction: row;
    color: #ffffff;

}

.harvest__heading {
    font-size: 37px;
    margin-left: 25%;
    margin-top: 10px;
}

.alredy__signin {
    margin-left: 25%;
    margin-top: 20px;
    font-size: 15px;
}

.darkorange__line {
    height: 0.5px;
    background-color: rgb(190, 89, 53);
    margin: 1% 25%;
}

.trail__heading {
    font-size: 45px;
    margin-top: 1%;
    margin-left: 32%;
    color: #ffffff;
}

.credit__card {
    font-size: 25px;
    margin-left: 35%;
    color: #ffffff;
}

.google {
    height: 45px;
    width: 29%;
    margin: 3% 35% 2%;
    cursor: pointer;
    color: grey;
    font-weight: 520;
    font-size: 15px;
}

.left {
    width: 9%;
    height: 0.5px;
    background-color: lightgrey;
    margin-left: 35%;
}

.or__line {
    color: #999;
    font-size: 13px;
    line-height: 0;
    text-align: center;
    margin-top: 10px;
}

.right {
    width: 9%;
    height: 0.5px;
    background-color: lightgrey;
    margin-left: 55.1%;
}

#signup {
    margin-top: 2%;
    margin-left: 35%;
}

#first {
    height: 38px;
    width: 30%;
    margin-left: 5.5%;
    border-radius: 3px;
    border: 1px solid lightgrey;
    outline: none;
    padding-left: 1%;
}

#last {
    height: 38px;
    width: 30%;
    margin-top: 1.6%;
    margin-left: 5.6%;
    border-radius: 3px;
    border: 1px solid lightgrey;
    outline: none;
    padding-left: 1%;
}

#company {
    height: 38px;
    width: 30%;
    margin-top: 1.6%;
    margin-left: 1.3%;
    border-radius: 3px;
    border: 1px solid lightgrey;
    outline: none;
    padding-left: 1%;
}

#email {
    height: 38px;
    width: 30%;
    margin-top: 1.6%;
    margin-left: 5.2%;
    border-radius: 3px;
    border: 1px solid lightgrey;
    outline: none;
    padding-left: 1%;
}

#pass {
    height: 38px;
    width: 30%;
    margin-top: 1.6%;
    margin-left: 6.4%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    outline: none;
    padding-left: 1%;
}

#signup__button {
    height: 45px;
    width: 46%;
    margin-top: 3.3%;
    background-color: #24A90C;
    color: #ffffff;
    border-radius: 3px;
    border: 1px solid #24A90C;
    outline: none;
    font-size: 20px;
}

#signup__button>a {
    color: #ffffff;
    text-decoration: none;
}

.bear__image {
    position: absolute;
    height: 250px;
    left: 85%;
    top: 80%;
    opacity: 0.5;
}

.grey {
    height: 0.5px;
    background-color: lightgrey;
    margin: 3.5% 35% 1%;
}

.bottom {
    text-align: center;
    color: grey;
    font-size: 13px;
    margin-top: 1%;
}

.termsservices__privacypolicy {
    margin-left: 43%;
    color: grey;
    font-size: 12px;
}